{{- $plain := .Plain -}}
{{- $cjkText := replaceRE "[^\\p{Han}\\p{Hiragana}\\p{Katakana}\\p{Hangul}]" "" $plain -}}
{{- $cjkChars := div (len $cjkText) 3 -}}
{{- $wordsPerMinute := .Site.Params.readingtimewordsperminute | default 180 -}}
{{- $cjkCharsPerMinute := .Site.Params.readingtimecjkcharsperminute | default 220 -}}
{{- $format := .Site.Params.readingtimeformat | default "%d min read" -}}
{{- $wordSeconds := div (add (mul .WordCount 60) (sub $wordsPerMinute 1)) $wordsPerMinute -}}
{{- $cjkSeconds := div (add (mul $cjkChars 60) (sub $cjkCharsPerMinute 1)) $cjkCharsPerMinute -}}
{{- $readingSeconds := add $wordSeconds $cjkSeconds -}}
{{- $minutes := div (add $readingSeconds 59) 60 -}}
{{- if lt $minutes 1 -}}
  {{- printf $format 1 -}}
{{- else -}}
  {{- printf $format $minutes -}}
{{- end -}}
